In [4]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

## Educacion de postulantes
### Inspeccion rapida: Forma y calidad

In [28]:
# %timeit sirve para evaluar el tiempo de ejecucion
df_temp = pd.read_csv('../csv/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
df_temp.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [12]:
df_temp['nombre'].value_counts()

Secundario           110256
Universitario        104295
Terciario/TÃ©cnico     47733
Otro                  24748
Posgrado               7387
Master                 3598
Doctorado               214
Name: nombre, dtype: int64

In [11]:
df_temp['estado'].value_counts()

Graduado      194474
En Curso       78531
Abandonado     25226
Name: estado, dtype: int64

In [29]:
df_temp.isnull().any()

idpostulante    False
nombre          False
estado          False
dtype: bool

---
#### **Bitacora:** Todos los datos sanos y bien categorizados
---

## Genero y edad de postulantes
### Inspeccion rapida: Forma y calidad

In [162]:
df_temp = pd.read_csv('../csv/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
df_temp.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [163]:
df_temp['sexo'].value_counts()

FEM           101981
MASC           94339
NO_DECLARA      4568
Name: sexo, dtype: int64

In [164]:
df_temp.isnull().any()

idpostulante       False
fechanacimiento     True
sexo               False
dtype: bool

In [165]:
df_temp.isnull().sum()

idpostulante          0
fechanacimiento    4750
sexo                  0
dtype: int64

In [26]:
# ok, miro cuales son las fechas malas no nulas

In [166]:
df_temp[
    df_temp['fechanacimiento'].notnull()][
    (pd.to_datetime(df_temp['fechanacimiento'].dropna(), errors='coerce').isnull())]

       idpostulante fechanacimiento        sexo
56206       xkPwXwY      0031-12-11         FEM
71458       LN85Y3b      0029-05-11        MASC
130846      8M2R6pz      0024-02-09         FEM
141832      A36Npjj      0033-09-14         FEM
145683      dYjV0rb      0012-11-04  NO_DECLARA
148638      GNZOvAv      0004-07-19        MASC
149653      1QPQ8QL      0011-03-08        MASC

In [167]:
# Las fechas malas pueden descartarse
df_temp['fechanacimiento'] = pd.to_datetime(df_temp['fechanacimiento'], errors='coerce')

In [168]:
# Considero fechas anteriores al siglo XX como invalidas
df_temp.loc[df_temp['fechanacimiento'] < '1900-01-01', 'fechanacimiento'] = pd.NaT

In [169]:
df_temp.to_csv('../csv/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad_fix.csv')

---
#### **Bitacora:** Se encontraron fechas nulas. Tambien una pequena cantidad de fechas no validas, que fueron borradas. Una fecha de nacimiento era anterior a 1900 y tambien fue borrada. Se exporta el csv corregido
---

## Genero y edad de postulantes
### Inspeccion rapida: Forma y calidad