In [2]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

datos_dir = "../../"

## Merge de sets de datos

Unir todos los sets de datos para tener todos los datos relevantes en un solo lugar

### 1. Educacion de postulantes

In [60]:
df_temp1 = pd.read_csv(datos_dir + 'datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
df_temp2 = pd.read_csv(datos_dir + 'fiuba_hasta_15_abril/entrega6/fiuba_1_postulantes_educacion.csv')
df_temp3 = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_1_postulantes_educacion.csv')

df_merge = pd.concat([df_temp1,df_temp2,df_temp3])
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103193 entries, 0 to 397508
Data columns (total 3 columns):
idpostulante    1103193 non-null object
nombre          1103193 non-null object
estado          1103193 non-null object
dtypes: object(3)
memory usage: 33.7+ MB

In [61]:
df_merge = df_merge.drop_duplicates().reset_index(drop=True)

In [62]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693641 entries, 0 to 693640
Data columns (total 3 columns):
idpostulante    693641 non-null object
nombre          693641 non-null object
estado          693641 non-null object
dtypes: object(3)
memory usage: 15.9+ MB

#### Guardar merge -> 1_postulantes_educacion

In [55]:
df_merge.to_csv(datos_dir + 'merge/1_postulantes_educacion.csv')

---
### 2. Genero y edad de postulantes

In [64]:
df_temp1 = pd.read_csv(datos_dir + 'fiuba_hasta_15_abril/entrega6/fiuba_2_postulantes_genero_y_edad.csv')
df_temp2 = pd.read_csv(datos_dir + 'datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
df_temp3 = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_2_postulantes_genero_y_edad.csv')

df_merge = pd.concat([df_temp1,df_temp2,df_temp3])
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780020 entries, 0 to 281384
Data columns (total 3 columns):
idpostulante       780020 non-null object
fechanacimiento    745747 non-null object
sexo               780020 non-null object
dtypes: object(3)
memory usage: 23.8+ MB

In [65]:
df_merge = df_merge.drop_duplicates().reset_index(drop=True)

In [66]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505382 entries, 0 to 505381
Data columns (total 3 columns):
idpostulante       505382 non-null object
fechanacimiento    478699 non-null object
sexo               505382 non-null object
dtypes: object(3)
memory usage: 11.6+ MB

In [68]:
# Las fechas malas pueden descartarse
df_merge['fechanacimiento'] = pd.to_datetime(df_merge['fechanacimiento'], errors='coerce')
print("Ok")

Ok

In [69]:
# Considero fechas anteriores al siglo XX como invalidas
df_merge.loc[df_merge['fechanacimiento'] < '1900-01-01', 'fechanacimiento'] = pd.NaT
print("Ok")

Ok

In [70]:
# Considero fechas que implican edades menores a 15 anios como invalidas
df_merge.loc[df_merge['fechanacimiento'] > '2003-01-01', 'fechanacimiento'] = pd.NaT
print("Ok")

Ok

In [71]:
(df_merge['idpostulante'].value_counts() > 1).any()

True

In [74]:
# ouch
df_merge = df_merge.drop_duplicates(subset='idpostulante', keep="last").reset_index(drop=True)
(df_merge['idpostulante'].value_counts() > 1).any()

False

In [75]:
df_merge.to_csv(datos_dir + 'merge/2_postulantes_genero_y_edad.csv')

---
### 3. Vista de avisos online y offline

In [76]:
# Esto puede dolerle a tu kernel
df_temp1 = pd.read_csv(datos_dir + 'fiuba_hasta_15_abril/entrega6/fiuba_3_vistas.csv')
df_temp2 = pd.read_csv(datos_dir + 'datos_navent_fiuba/fiuba_3_vistas.csv')
df_temp3 = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_3_vistas.csv')

df_merge = pd.concat([df_temp1,df_temp2,df_temp3])
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18368813 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       object
idpostulante    object
dtypes: int64(1), object(2)
memory usage: 560.6+ MB

In [77]:
df_merge = df_merge.drop_duplicates().reset_index(drop=True)
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16754298 entries, 0 to 16754297
Data columns (total 3 columns):
idAviso         int64
timestamp       object
idpostulante    object
dtypes: int64(1), object(2)
memory usage: 383.5+ MB

In [79]:
df_merge['timestamp'] = pd.to_datetime(df_merge['timestamp'], format='%Y-%m-%d', infer_datetime_format=False)
df_merge.head()

      idAviso               timestamp idpostulante
0  1112400775 2018-04-06 05:43:47.445      kPjr2K0
1  1112400775 2018-04-06 05:43:48.330      kPjr2K0
2  1112426664 2018-04-06 05:43:50.042      GNOwZmb
3  1112426664 2018-04-06 05:43:51.171      GNOwZmb
4  1112445738 2018-04-06 05:43:46.371      lDLxajz