In [2]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

datos_dir = "../../"

# Inspeccion : Fiuba_hasta_15_abril

## 1. Educacion de postulantes

In [6]:
df_temp = pd.read_csv(datos_dir + 'fiuba_hasta_15_abril/entrega6/fiuba_1_postulantes_educacion.csv')
df_temp.head()

  idpostulante         nombre    estado
0         ZjlZ         Master  En Curso
1         NdJl       Posgrado  En Curso
2         5kNq           Otro  En Curso
3         8rYD         Master  En Curso
4         1Wvj  Universitario  En Curso

In [8]:
df_temp['nombre'].value_counts()

Universitario        155255
Secundario           135756
Terciario/Técnico     67082
Otro                  28765
Posgrado              13498
Master                 6699
Doctorado               398
Name: nombre, dtype: int64

In [9]:
df_temp['estado'].value_counts()

Graduado      266008
En Curso      105936
Abandonado     35509
Name: estado, dtype: int64

In [10]:
df_temp.isnull().any()

idpostulante    False
nombre          False
estado          False
dtype: bool

In [11]:
(df_temp['idpostulante'].value_counts() > 1).any()

True

## 2. Genero y edad de postulantes
### Inspeccion rapida: Forma y calidad

In [51]:
df_temp = pd.read_csv(datos_dir + 'fiuba_hasta_15_abril/entrega6/fiuba_2_postulantes_genero_y_edad.csv')
df_temp.head()

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          Nzz             NaN  NO_DECLARA
2          ZX1             NaN  NO_DECLARA
3          Nq5             NaN  NO_DECLARA
4          ebE      1952-07-07        MASC

In [15]:
df_temp['sexo'].value_counts()

FEM           149457
MASC          132173
NO_DECLARA     16113
0.0                4
Name: sexo, dtype: int64

In [16]:
df_temp.isnull().any()

idpostulante       False
fechanacimiento     True
sexo               False
dtype: bool

In [17]:
df_temp.isnull().sum()

idpostulante           0
fechanacimiento    16620
sexo                   0
dtype: int64

In [23]:
df_temp[
    df_temp['fechanacimiento'].notnull()][
    (pd.to_datetime(df_temp['fechanacimiento'].dropna(), errors='coerce').isnull())]

       idpostulante fechanacimiento        sexo
37786        EWbKXN      0032-07-01        MASC
51582        5KK95Z      0029-01-08        MASC
57210        680m54      0018-06-28         FEM
57668        6wJ8Px      0013-04-27         FEM
72864       lDXXla1      0012-07-23         FEM
92204       3Nk95pr      0019-02-10         FEM
122214      X9lwkXK      0037-01-15         FEM
134314      A3vEqpj      0024-08-30        MASC
147467      8MLdEeD      0014-09-18        MASC
154287      Drp5kLd      0007-10-21         FEM
189204      8M2R6pz      0024-02-09         FEM
197509      0zkAXBE      0029-10-03         FEM
197630      8M230mj      0008-11-10        MASC
206308      VNxMRxj      0019-08-14         FEM
208898      8MPweGx      0010-08-03  NO_DECLARA
209422      RzrJkGE      0016-12-10         FEM
210148      0zPrzBd      0001-11-30  NO_DECLARA
212612      GNZOvAv      0004-07-19        MASC
213016      Bm5mm4Q      0014-06-02         FEM
219297      VNrP8EE      0005-01-21         FEM
220947      EzeeRNN      0017-08-21        MASC
224003      xkdB9JK      0009-03-19         FEM

In [24]:
# Las fechas malas pueden descartarse
df_temp['fechanacimiento'] = pd.to_datetime(df_temp['fechanacimiento'], errors='coerce')

In [25]:
# Considero fechas anteriores al siglo XX como invalidas
df_temp.loc[df_temp['fechanacimiento'] < '1900-01-01', 'fechanacimiento'] = pd.NaT

In [26]:
(df_temp['idpostulante'].value_counts() > 1).any()

False

In [27]:
# df_temp.to_csv('../csv/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad_fix.csv')

## 3. Vista de avisos online y offline
### Inspeccion rapida: Forma y calidad

In [52]:
df_temp = pd.read_csv(datos_dir + 'fiuba_hasta_15_abril/entrega6/fiuba_3_vistas.csv')
df_temp.head()

      idAviso                     timestamp idpostulante
0  1112400775  2018-04-06T01:43:47.445-0400      kPjr2K0
1  1112400775  2018-04-06T01:43:48.330-0400      kPjr2K0
2  1112426664  2018-04-06T01:43:50.042-0400      GNOwZmb
3  1112426664  2018-04-06T01:43:51.171-0400      GNOwZmb
4  1112445738  2018-04-06T01:43:46.371-0400      lDLxajz

In [32]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5758686 entries, 0 to 5758685
Data columns (total 3 columns):
idAviso         int64
timestamp       object
idpostulante    object
dtypes: int64(1), object(2)
memory usage: 87.9+ MB

In [33]:
pd.to_datetime(df_temp['timestamp']).sort_values().head(10)

2744049   2018-03-22 13:02:44.912
2744050   2018-03-22 13:02:45.897
2744486   2018-03-22 13:02:47.005
2743624   2018-03-22 13:02:47.756
2743625   2018-03-22 13:02:48.269
2744487   2018-03-22 13:02:48.356
2744488   2018-03-22 13:02:48.909
2743626   2018-03-22 13:02:49.230
2744051   2018-03-22 13:02:49.516
2743627   2018-03-22 13:02:50.153
Name: timestamp, dtype: datetime64[ns]

In [53]:
df_temp['idpostulante'].apply(len).value_counts()

7    4597503
6    1149837
5      10359
4        987
Name: idpostulante, dtype: int64

## 4. Postulaciones hasta 1 de marzo
### Inspeccion rapida: Forma y calidad

In [3]:
df_temp = pd.read_csv(datos_dir + 'fiuba_hasta_15_abril/entrega6/fiuba_4_postulaciones.csv')
df_temp.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [4]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4909641 entries, 0 to 4909640
Data columns (total 3 columns):
idaviso             int64
idpostulante        object
fechapostulacion    object
dtypes: int64(1), object(2)
memory usage: 74.9+ MB

In [5]:
pd.to_datetime(df_temp['fechapostulacion']).sort_values().head(10)

1380348   2018-01-15 00:00:09
1437322   2018-01-15 00:00:16
3602583   2018-01-15 00:00:16
1888427   2018-01-15 00:00:16
2493498   2018-01-15 00:00:21
4843449   2018-01-15 00:00:21
2004735   2018-01-15 00:00:24
4701729   2018-01-15 00:00:28
3201032   2018-01-15 00:00:32
4885437   2018-01-15 00:00:38
Name: fechapostulacion, dtype: datetime64[ns]

In [6]:
df_temp['idpostulante'].apply(len).value_counts()

7    3886098
6    1013806
5       8876
4        861
Name: idpostulante, dtype: int64

## 5. Avisos online al 15 de abril
### Inspeccion rapida: Forma y calidad

In [35]:
df_temp = pd.read_csv(datos_dir + 'fiuba_hasta_15_abril/entrega6/fiuba_5_avisos_online.csv')
df_temp.head()

      idaviso
0  1111718795
1  1110497155
2  1111511125
3  1111930643
4  1112172032

In [36]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4858 entries, 0 to 4857
Data columns (total 1 columns):
idaviso    4858 non-null int64
dtypes: int64(1)
memory usage: 38.0 KB

In [37]:
df_temp['idaviso'].isnull().any()

False

## 6. Detalle de avisos online y offline
### Inspeccion rapida: Forma y calidad

In [38]:
df_temp = pd.read_csv(datos_dir + 'fiuba_hasta_15_abril/entrega6/fiuba_6_avisos_detalle.csv')
df_temp.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>Responsable de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Ingeniería Eléctrica y Electrónica,Roycan
2,1112145935,1,Analistas de Impuestos Sr Ssr y Jr,<p>Importante Estudio de Auditoria y Consultor...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,1,Software Engineer,<p> </p><p>Chevron is a multinational company ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Programación,Chevron Buenos Aires Shared Services Center
4,1112211475,1,Business Developer Manager,"<p>Importante empresa de energías renovables, ...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

In [39]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18299 entries, 0 to 18298
Data columns (total 11 columns):
idaviso                 18299 non-null int64
idpais                  18299 non-null int64
titulo                  18299 non-null object
descripcion             18299 non-null object
nombre_zona             18299 non-null object
ciudad                  64 non-null object
mapacalle               1282 non-null object
tipo_de_trabajo         18299 non-null object
nivel_laboral           18299 non-null object
nombre_area             18299 non-null object
denominacion_empresa    18293 non-null object
dtypes: int64(2), object(9)
memory usage: 929.3+ KB

In [40]:
df_temp.isnull().sum()

idaviso                     0
idpais                      0
titulo                      0
descripcion                 0
nombre_zona                 0
ciudad                  18235
mapacalle               17017
tipo_de_trabajo             0
nivel_laboral               0
nombre_area                 0
denominacion_empresa        6
dtype: int64

In [41]:
df_temp['idpais'].value_counts()

1    18299
Name: idpais, dtype: int64

In [42]:
df_temp['nombre_zona'].value_counts()

Gran Buenos Aires    17016
Capital Federal       1281
GBA Oeste                2
Name: nombre_zona, dtype: int64

In [43]:
df_temp['ciudad'].value_counts()

Argentina                   22
Buenos Aires                18
CABA                         3
San Isidro                   2
Capital Federal              2
Tortuguitas                  2
Barracas                     1
Parque Patricios             1
República Argentina          1
Vicente Lopez                1
Santa Rosa                   1
caba                         1
.                            1
paternal                     1
La Plata                     1
Córdoba                      1
Zárate, Campana, Escobar     1
Totuguitas                   1
Caba                         1
Grand Bourg                  1
Buenos Aires Province        1
Name: ciudad, dtype: int64

In [44]:
df_temp['tipo_de_trabajo'].value_counts()

Full-time          16769
Part-time           1063
Teletrabajo          180
Por Horas            100
Pasantia              59
Temporario            53
Por Contrato          53
Fines de Semana       18
Primer empleo          3
Voluntario             1
Name: tipo_de_trabajo, dtype: int64

In [45]:
df_temp['nivel_laboral'].value_counts()

Senior / Semi-Senior                    12713
Junior                                   2920
Otro                                     1262
Jefe / Supervisor / Responsable          1165
Gerencia / Alta Gerencia / Dirección      239
Name: nivel_laboral, dtype: int64

In [46]:
df_temp['nombre_area'].value_counts()

Ventas                                       2268
Comercial                                    1323
Administración                               1261
Producción                                   1151
Programación                                  789
Contabilidad                                  583
Tecnologia / Sistemas                         566
Mantenimiento                                 437
Atención al Cliente                           414
Oficios y Profesiones                         298
Recursos Humanos                              284
Gastronomia                                   283
Logística                                     281
Soporte Técnico                               279
Almacén / Depósito / Expedición               271
Marketing                                     228
Compras                                       224
Call Center                                   216
Administración de Personal                    210
Mantenimiento y Limpieza                      191
Finanzas                                      191
Otros                                         191
Recepcionista                                 188
Transporte                                    187
Créditos y Cobranzas                          185
Desarrollo de Negocios                        169
Tesorería                                     168
Telemarketing                                 166
Legal                                         154
Medicina                                      153
                                             ...
Emergentología                                  3
Trabajo social                                  3
Ingeniería Geológica                            3
Arte y Cultura                                  2
Educación especial                              2
Psicología                                      2
Periodismo                                      2
Bienestar Estudiantil                           2
Exploración Minera y Petroquimica               2
Diseño 3D                                       2
Instrumentación Minera                          2
Kinesiología / terapia ocupacional              2
Mercadotecnia Internacional                     2
Multimedia                                      2
Clínica Médica                                  1
Telefonista                                     1
Traduccion                                      1
Esterilización                                  1
Idiomas                                         1
Instrumentación quirúrgica                      1
Trabajo Social                                  1
Maternidad                                      1
Prácticas cardiológicas                         1
Urbanismo                                       1
Fonoaudiología                                  1
Diagnóstico por imágenes                        1
Cuidados Intensivos Cardiologicos Adultos       1
Responsabilidad Social                          1
Farmacia hospitalaria                           1
Odontología                                     1
Name: nombre_area, Length: 186, dtype: int64

In [47]:
df_temp['nombre_area'].str.upper().value_counts().count()

185

In [48]:
df_temp[df_temp['denominacion_empresa'].isnull()]

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
3168,1111960305,1,VENDEDORA- PORTSAID- ZONA NORTE,"<p align=""center""><strong>EXPERIENCIA PORTSAID...",Gran Buenos Aires,NaN,NaN,Full-time,Otro,Ventas,NaN
3169,1111960330,1,VENDEDORA- PORTSAID- CAPITAL FEDERAL,"<p align=""center""><strong>EXPERIENCIA PORTSAID...",Gran Buenos Aires,NaN,NaN,Full-time,Otro,Ventas,NaN
3521,1112289439,1,Muestrista Desiderata,<p>En Mazalosa s.a. nos encontramos en la búsq...,Gran Buenos Aires,NaN,NaN,Part-time,Senior / Semi-Senior,Producción,NaN
6221,1112430233,1,MODELO DE CALCE,<p><strong>Importante Empresa Nacional de Indu...,Gran Buenos Aires,NaN,NaN,Part-time,Otro,Otros,NaN
8819,1112243714,1,Analista Comercial Senior - PORTSAID-,<p>En Mazalosa nos encontramos en la búsqueda ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,NaN
17401,1111946024,1,VENDEDOR DE SALON - PORTSAID-,<p>En Portsaid estamos buscando al mejor vende...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Ventas,NaN