In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

datos_dir = "../../"

# Inspeccion : Fiuba_desde_15_abril

## 1. Educacion de postulantes

In [6]:
df_temp = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_1_postulantes_educacion.csv')
df_temp.head()

  idpostulante         nombre    estado
0          YZP         Master  En Curso
1         ZjlZ         Master  En Curso
2        aEW8J  Universitario  En Curso
3        8QGRj  Universitario  En Curso
4       eRYl5r  Universitario  En Curso

In [7]:
df_temp['nombre'].value_counts()

Universitario        145069
Secundario           136915
Terciario/TÃ©cnico     65276
Otro                  31161
Posgrado              12599
Master                 6139
Doctorado               350
Name: nombre, dtype: int64

In [8]:
df_temp['estado'].value_counts()

Graduado      261312
En Curso      101815
Abandonado     34382
Name: estado, dtype: int64

In [9]:
df_temp.isnull().any()

idpostulante    False
nombre          False
estado          False
dtype: bool

In [10]:
(df_temp['idpostulante'].value_counts() > 1).any()

True

## 2. Genero y edad de postulantes
### Inspeccion rapida: Forma y calidad

In [19]:
df_temp = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_2_postulantes_genero_y_edad.csv')
df_temp.head()

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          ZX1             NaN  NO_DECLARA
2          YZP      1961-05-01        MASC
3          ebE      1952-07-07        MASC
4          N1x             NaN  NO_DECLARA

In [13]:
df_temp['sexo'].value_counts()

FEM           140041
MASC          128726
NO_DECLARA     12615
0.0                3
Name: sexo, dtype: int64

In [14]:
df_temp.isnull().any()

idpostulante       False
fechanacimiento     True
sexo               False
dtype: bool

In [15]:
df_temp.isnull().sum()

idpostulante           0
fechanacimiento    12903
sexo                   0
dtype: int64

In [16]:
df_temp[
    df_temp['fechanacimiento'].notnull()][
    (pd.to_datetime(df_temp['fechanacimiento'].dropna(), errors='coerce').isnull())]

       idpostulante fechanacimiento        sexo
3499        VNxMRxj      0019-08-14         FEM
6954         5KK95Z      0029-01-08        MASC
7753        ak5PvOD      0011-07-31         FEM
44847       8M2R6pz      0024-02-09         FEM
46403       0zPrzBd      0001-11-30  NO_DECLARA
59301       9692Xdw      0034-03-03         FEM
72503       GNZOvAv      0004-07-19        MASC
76964       Bm5mm4Q      0014-06-02         FEM
83780       lDXXla1      0012-07-23         FEM
91504       pzN5p5p      0021-08-11         FEM
95113       0zPqvGM      0009-06-10         FEM
111260       EWbKXN      0032-07-01        MASC
133222      kPLP04J      0028-11-06         FEM
167918       5P39Oq      0019-08-01         FEM
174548      8M230mj      0008-11-10        MASC
233347      xkdGe5Y      0015-09-11         FEM
254193      Drp5kLd      0007-10-21         FEM
268094       14pm8E      0032-08-05         FEM

In [20]:
# Las fechas malas pueden descartarse
df_temp['fechanacimiento'] = pd.to_datetime(df_temp['fechanacimiento'], errors='coerce')

In [21]:
# Considero fechas anteriores al siglo XX como invalidas
df_temp.loc[df_temp['fechanacimiento'] < '1900-01-01', 'fechanacimiento'] = pd.NaT

In [22]:
(df_temp['idpostulante'].value_counts() > 1).any()

False

In [20]:
# df_temp.to_csv('../csv/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad_fix.csv')

## 3. Vista de avisos online y offline
### Inspeccion rapida: Forma y calidad

In [18]:
df_temp = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_3_vistas.csv', 
                      dtype={'idAviso' : np.int64})
df_temp.head()

      idAviso                     timestamp idpostulante
0     1808556  2018-04-30T19:55:37.990-0400       6kDNzl
1     1806679  2018-04-30T19:55:38.291-0400        Mozax
2     1808078  2018-04-30T19:55:37.686-0400        GYPPA
3  1112196813  2018-04-30T19:55:40.199-0400      EzeLjM2
4  1112435646  2018-04-30T19:55:40.507-0400      Bm5keG0

In [17]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11648230 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       object
idpostulante    object
dtypes: int64(1), object(2)
memory usage: 266.6+ MB

In [9]:
pd.to_datetime(df_temp['timestamp'], format='%Y-%m-%d', infer_datetime_format=False).sort_values().head(10)

344387   2018-04-15 04:00:00.025
344390   2018-04-15 04:00:00.227
344388   2018-04-15 04:00:00.345
344389   2018-04-15 04:00:00.442
344391   2018-04-15 04:00:01.008
344392   2018-04-15 04:00:01.186
344393   2018-04-15 04:00:01.508
344394   2018-04-15 04:00:01.668
344395   2018-04-15 04:00:01.838
344396   2018-04-15 04:00:02.660
Name: timestamp, dtype: datetime64[ns]

In [3]:
df_temp['idpostulante'].apply(len).value_counts()

7    4995642
6    4491197
5    2075691
4      81367
3       4333
Name: idpostulante, dtype: int64

## 6. Detalle de avisos online y offline
### Inspeccion rapida: Forma y calidad

In [10]:
df_temp = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_6_avisos_detalle.csv')
df_temp.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1573840,1,VENDEDORA/O,Nuestra BÃºsqueda se orienta a la incorporaciÃ³n...,Capital Federal,Flores,NaN,Full-time,Otro,Ventas,RIBEIRO SUC. FLORES
1,1712970,1,INGENIERO DE PRODUCTO,INGENIERO ELECTRICISTA/ELECTRONICO CON CONOCIM...,Capital Federal,NaN,NaN,Full-time,Otro,Otras Ingenierias,Aparatos Electricos Automaticos SA
2,1719970,1,** DiseÃ±adores/as GrÃ¡ficos Quark Express **,DiseÃ±adores/as GrÃ¡ficos Quark Express para Rev...,Capital Federal,NaN,NaN,Full-time,Otro,DiseÃ±o,Revista NEX IT Specialist ? Editorial Poulbert
3,1720060,1,Soporte Tecnico,Estudiante de Sistemas (Lic. en Sistemas de la...,Capital Federal,NaN,NaN,Full-time,Otro,Tecnologia / Sistemas,Tango Software
4,1720280,1,ADSCRIPTO DE GERENCIA,Importante OrganizaciÃ³n AcadÃ©mica Empresarial\...,Buenos Aires (fuera de GBA),NaN,NaN,Full-time,Otro,Otros,Experis

In [11]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13798 entries, 0 to 13797
Data columns (total 11 columns):
idaviso                 13798 non-null int64
idpais                  13798 non-null int64
titulo                  13798 non-null object
descripcion             13798 non-null object
nombre_zona             13798 non-null object
ciudad                  86 non-null object
mapacalle               1019 non-null object
tipo_de_trabajo         13798 non-null object
nivel_laboral           13798 non-null object
nombre_area             13798 non-null object
denominacion_empresa    13795 non-null object
dtypes: int64(2), object(9)
memory usage: 700.7+ KB

In [19]:
df_temp['idpais'].value_counts()

1    13798
Name: idpais, dtype: int64

In [18]:
df_temp['nombre_zona'].value_counts()

Gran Buenos Aires              12603
Capital Federal                 1131
Buenos Aires (fuera de GBA)       42
La Plata                           4
GBA Oeste                          3
Mendoza                            3
Ciudad de Mendoza                  3
Rosario                            2
Cordoba                            1
Santa Fe                           1
Santa Cruz                         1
Catamarca                          1
Tucuman                            1
Neuquen                            1
San Juan                           1
Name: nombre_zona, dtype: int64

In [17]:
df_temp['ciudad'].value_counts()

Buenos Aires                           16
Argentina                              13
Capital Federal                        11
Mendoza                                 6
Capital Federal - Pompeya               3
CÃ³rdoba                                 2
Tortuguitas                             2
.                                       2
CABA                                    2
Rosario                                 2
La Plata                                1
Grand Bourg                             1
Buenos Aires Province                   1
LanÃºs Este                              1
BUENOS AIRES                            1
Y en todo el pais                       1
Flores                                  1
b                                       1
Capital Federal -Microcentro-           1
Santa Rosa                              1
General Pacheco.                        1
Villa Ballester - Buenos Aires          1
PARQUE BROWN                            1
Totuguitas                              1
Microcentro                             1
La Boca                                 1
Zona Norte                              1
Capital federal y Gran Buenos Aires     1
GBA Oeste                               1
Don Torcuato                            1
NeuquÃ©n - Cipolletti                    1
INTERNATIONAL - NO EN ARGENTINA!!!!     1
Capital Federal -NuÃ±ez-                 1
MaipÃº Mendoza                           1
Mar del Plata                           1
Mataderos                               1
Zona Sur GBA                            1
Name: ciudad, dtype: int64

In [16]:
df_temp['tipo_de_trabajo'].value_counts()

Full-time          12282
Part-time           1141
Teletrabajo          112
Pasantia              85
Por Horas             61
Temporario            52
Por Contrato          48
Fines de Semana       13
Primer empleo          4
Name: tipo_de_trabajo, dtype: int64

In [15]:
df_temp['nivel_laboral'].value_counts()

Senior / Semi-Senior                    9157
Junior                                  2439
Otro                                    1213
Jefe / Supervisor / Responsable          805
Gerencia / Alta Gerencia / DirecciÃ³n     184
Name: nivel_laboral, dtype: int64

In [14]:
df_temp['nombre_area'].value_counts()

Ventas                                       1766
Comercial                                     937
AdministraciÃ³n                                937
ProducciÃ³n                                    838
Contabilidad                                  410
AtenciÃ³n al Cliente                           392
Tecnologia / Sistemas                         376
ProgramaciÃ³n                                  367
Call Center                                   277
Mantenimiento                                 240
Recursos Humanos                              238
AlmacÃ©n / DepÃ³sito / ExpediciÃ³n               232
LogÃ­stica                                     227
Soporte TÃ©cnico                               209
Recepcionista                                 199
Gastronomia                                   198
Marketing                                     191
Telemarketing                                 188
Oficios y Profesiones                         185
Mantenimiento y Limpieza                      175
AdministraciÃ³n de Personal                    164
Seguridad                                     154
TesorerÃ­a                                     148
Transporte                                    147
Legal                                         141
Finanzas                                      140
Compras                                       140
Otros                                         137
Salud                                         128
Calidad                                       127
                                             ...
Apoderado Aduanal                               3
Arte y Cultura                                  3
DiseÃ±o de Interiores / DecoraciÃ³n               3
EnfermerÃ­a (ver EnfermerÃ­a)                     2
Data Warehousing                                2
Telefonista                                     2
TopografÃ­a                                      2
Traduccion                                      2
InstrumentaciÃ³n quirÃºrgica                      2
Bienestar Estudiantil                           2
Negocios Internacionales                        2
PsicologÃ­a                                      2
OdontologÃ­a                                     1
PrÃ¡cticas cardiolÃ³gicas                         1
InstrumentaciÃ³n Minera                          1
IngenierÃ­a GeolÃ³gica                            1
Medicina Laboral                                1
Trabajo Social                                  1
ExploraciÃ³n Minera y Petroquimica               1
Urbanismo                                       1
Maternidad                                      1
Multimedia                                      1
Idiomas                                         1
AuditorÃ­a de Seguros                            1
Cuidados Intensivos Cardiologicos Adultos       1
DiagnÃ³stico por imÃ¡genes                        1
FonoaudiologÃ­a                                  1
EsterilizaciÃ³n                                  1
Trabajo social                                  1
AuditorÃ­a MÃ©dica                                1
Name: nombre_area, Length: 182, dtype: int64

In [13]:
df_temp['nombre_area'].str.upper().value_counts().count()

181

In [12]:
df_temp[df_temp['denominacion_empresa'].isnull()]

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
344,1112017891,1,Promotora - MODELO DE CALCE PORTSAID Y DESIDER...,<p>Nos encontramos en la bÃºsqueda de una Model...,Gran Buenos Aires,NaN,NaN,Por Horas,Otro,Ventas,NaN
7079,1111960305,1,VENDEDORA- PORTSAID- ZONA NORTE,"<p align=""center""><strong>EXPERIENCIA PORTSAID...",Gran Buenos Aires,NaN,NaN,Full-time,Otro,Ventas,NaN
7080,1111960330,1,VENDEDORA- PORTSAID- CAPITAL FEDERAL,"<p align=""center""><strong>EXPERIENCIA PORTSAID...",Gran Buenos Aires,NaN,NaN,Full-time,Otro,Ventas,NaN

---

# Inspeccion : Detalles de avisos faltantes

In [2]:
df_temp = pd.read_csv(datos_dir + 'fiuba_6_avisos_detalle_missing_nivel_laboral.csv')
df_temp.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1001284385,1,Dejanos tu CV,<p><br />Si est&aacute;s interesado en ser par...,Corrientes,NaN,NaN,Full-time,NaN,Otros,Establecimiento Las MarÃ­as
1,1110092955,1,para lÃ­nea de producciÃ³n (ref. 28376),<p>Empresas vinculadas a la industria automotr...,GBA Oeste,NaN,NaN,Full-time,NaN,ProducciÃ³n,RANDSTAD
2,1110092958,1,para mantenimiento (ref. 27181),"<p style=""display: inline !important;"">Empresa...",GBA Oeste,NaN,NaN,Full-time,NaN,Mantenimiento,RANDSTAD
3,1110391074,1,TrabajÃ¡ con nosotros,<p><strong>Trabaj&aacute; con nosotros</strong...,Cordoba,NaN,NaN,Full-time,NaN,IngenierÃ­a Industrial,Coca Cola Andina Argentina
4,1110669632,1,TÃ©cnico de Mantenimiento,<p>Experiencia en f&aacute;bricas cosm&eacute;...,GBA Oeste,NaN,", LanÃºs",Full-time,NaN,Mantenimiento,PLUMARI S A

In [3]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 11 columns):
idaviso                 338 non-null int64
idpais                  338 non-null int64
titulo                  338 non-null object
descripcion             338 non-null object
nombre_zona             338 non-null object
ciudad                  28 non-null object
mapacalle               271 non-null object
tipo_de_trabajo         338 non-null object
nivel_laboral           3 non-null object
nombre_area             338 non-null object
denominacion_empresa    338 non-null object
dtypes: int64(2), object(9)
memory usage: 29.1+ KB