In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

datos_dir = "../../"

# Inspeccion : Fiuba_desde_15_abril

## 1. Educacion de postulantes

In [6]:
df_temp = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_1_postulantes_educacion.csv')
df_temp.head()

  idpostulante         nombre    estado
0          YZP         Master  En Curso
1         ZjlZ         Master  En Curso
2        aEW8J  Universitario  En Curso
3        8QGRj  Universitario  En Curso
4       eRYl5r  Universitario  En Curso

In [7]:
df_temp['nombre'].value_counts()

Universitario        145069
Secundario           136915
Terciario/TÃ©cnico     65276
Otro                  31161
Posgrado              12599
Master                 6139
Doctorado               350
Name: nombre, dtype: int64

In [8]:
df_temp['estado'].value_counts()

Graduado      261312
En Curso      101815
Abandonado     34382
Name: estado, dtype: int64

In [9]:
df_temp.isnull().any()

idpostulante    False
nombre          False
estado          False
dtype: bool

In [10]:
(df_temp['idpostulante'].value_counts() > 1).any()

True

## 2. Genero y edad de postulantes
### Inspeccion rapida: Forma y calidad

In [12]:
df_temp = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_2_postulantes_genero_y_edad.csv')
df_temp.head()

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          ZX1             NaN  NO_DECLARA
2          YZP      1961-05-01        MASC
3          ebE      1952-07-07        MASC
4          N1x             NaN  NO_DECLARA

In [13]:
df_temp['sexo'].value_counts()

FEM           140041
MASC          128726
NO_DECLARA     12615
0.0                3
Name: sexo, dtype: int64

In [14]:
df_temp.isnull().any()

idpostulante       False
fechanacimiento     True
sexo               False
dtype: bool

In [15]:
df_temp.isnull().sum()

idpostulante           0
fechanacimiento    12903
sexo                   0
dtype: int64

In [16]:
df_temp[
    df_temp['fechanacimiento'].notnull()][
    (pd.to_datetime(df_temp['fechanacimiento'].dropna(), errors='coerce').isnull())]

       idpostulante fechanacimiento        sexo
3499        VNxMRxj      0019-08-14         FEM
6954         5KK95Z      0029-01-08        MASC
7753        ak5PvOD      0011-07-31         FEM
44847       8M2R6pz      0024-02-09         FEM
46403       0zPrzBd      0001-11-30  NO_DECLARA
59301       9692Xdw      0034-03-03         FEM
72503       GNZOvAv      0004-07-19        MASC
76964       Bm5mm4Q      0014-06-02         FEM
83780       lDXXla1      0012-07-23         FEM
91504       pzN5p5p      0021-08-11         FEM
95113       0zPqvGM      0009-06-10         FEM
111260       EWbKXN      0032-07-01        MASC
133222      kPLP04J      0028-11-06         FEM
167918       5P39Oq      0019-08-01         FEM
174548      8M230mj      0008-11-10        MASC
233347      xkdGe5Y      0015-09-11         FEM
254193      Drp5kLd      0007-10-21         FEM
268094       14pm8E      0032-08-05         FEM

In [17]:
# Las fechas malas pueden descartarse
df_temp['fechanacimiento'] = pd.to_datetime(df_temp['fechanacimiento'], errors='coerce')

In [18]:
# Considero fechas anteriores al siglo XX como invalidas
df_temp.loc[df_temp['fechanacimiento'] < '1900-01-01', 'fechanacimiento'] = pd.NaT

In [19]:
(df_temp['idpostulante'].value_counts() > 1).any()

False

In [20]:
# df_temp.to_csv('../csv/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad_fix.csv')

## 3. Vista de avisos online y offline
### Inspeccion rapida: Forma y calidad

In [ ]:
df_temp = pd.read_csv(datos_dir + 'fiuba desde 15 abril/fiuba_3_vistas.csv')
df_temp.head()

In [22]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11648230 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       object
idpostulante    object
dtypes: int64(1), object(2)
memory usage: 177.7+ MB

In [ ]:
pd.to_datetime(df_temp['timestamp']).sort_values().head(10)

In [ ]:
df_temp['idpostulante'].apply(len).value_counts()

## 6. Detalle de avisos online y offline
### Inspeccion rapida: Forma y calidad

In [ ]:
df_temp = pd.read_csv('../csv/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
df_temp.head()

In [ ]:
df_temp.info()

In [ ]:
df_temp['idpais'].value_counts()

In [ ]:
df_temp['nombre_zona'].value_counts()

In [ ]:
df_temp['ciudad'].value_counts()

In [ ]:
df_temp['tipo_de_trabajo'].value_counts()

In [ ]:
df_temp['nivel_laboral'].value_counts()

In [ ]:
df_temp['nombre_area'].value_counts()

In [ ]:
df_temp['nombre_area'].str.upper().value_counts().count()

In [ ]:
df_temp[df_temp['denominacion_empresa'].isnull()]